<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sairam.firebase">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".adminMain" />
        <activity android:name=".motherMain" />
        <activity android:name=".hospitalMain" />
        <activity android:name=".supervisorMain" />
        <activity android:name=".workerMain" />
        <activity android:name=".dispensaryMain" />
        <activity android:name=".NewMother" />
        <activity android:name=".NewChild" />
        <activity android:name=".NewWorker" />
        <activity android:name=".newSupervisor" />
        <activity android:name=".MinistryAct" />
        <activity android:name=".NewAnganwadi" />
        <activity android:name=".Antenatal" />
        <activity android:name=".PostPartum" />
        <activity android:name=".BabyCare" />
        <activity android:name=".ViewMotherImmunization" />
        <activity android:name=".ViewChildImmunization">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VideoTutorials" />
        <activity android:name=".WeightAnalysis" />
        <activity android:name=".ChildImmunizaton" />
        <activity android:name=".Weight"></activity>
    </application>

</manifest>